@mixin home {
    display: flex;
    flex-direction: column;
    align-items: center;
     &_title {
         font-size: 4em;
         text-align: left;
         margin : 70px 0 50px 0;
     }
     &_separator {
         width: 800px;
         border-bottom: 1px solid rgba(128, 128, 128, 0.247);
         margin-bottom: 50px;
     }
     label {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         height: 70px;
     }
     &_form {
         display: flex;
         padding: 20px;
         border: 1px solid rgba(0, 0, 0, 0.281);
         border-radius: 10px;
         &_inputTxt {
             height: 30px;
             padding-left: 20px;
             border-radius: 30px 0 0 30px;
             outline: none;
             border: 1px solid black;
         }
         &_btn {
            height:30px;
            margin-top: 40px;
            padding-right: 10px;
            border-radius: 0 30px 30px 0;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            border-left: 1px solid salmon;
            cursor: pointer;
            background: map-get($map: $colors, $key: primary );
            transition: all 150ms ease-in-out;
            &:hover {
                background: map-get($map: $colors, $key:secondary);
                color: #f1f1f1;
                transition: all 150ms ease-in-out;
            }
         }
     }
     @include forMobile {
        a {
            display: flex;
            justify-content: center;
        }
    }
}

@mixin social {
    height: 25px;
    fill: #f1f1f1;
    margin-top: -3px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    &:hover {
        opacity: 0.7;
        transition: all 200ms ease-in-out;
    }
}

@mixin list {
    display: flex;
    flex-direction: column;
    align-items: center;
    select {
        background: #f3f3f3;
        border: rgba(0, 0, 0, 0.342) 1px solid;
        height: 30px;
        padding: 0 5px;
    }
    &_options {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        width: 500px;
    }
    &_pagesBtn {
        margin-top: 30px;
        &_btn{
            height: 40px;
            width: 40px;
            border: none;
            background: none;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            cursor: pointer;
            transition: opacity 250ms ease-in-out;
            &--active {
                color: map-get($map: $colors, $key: primary);
                font-weight: 700;
                font-size: 1.1em;
                padding-bottom: 4px;
            }
            &:hover {
                opacity: 0.7;
                transition: opacity 250ms ease-in-out;
            }
        }
    }
    @include forMobile {
        a {
            display: flex;
            justify-content: center;
        }
        select {
            height: 40px;
        }
        &_options {
            width: 90%;
            margin-top: 80px;
        }
    }
}

@mixin forTablet {
    @media screen and (max-width: map-get($queries, tablet)) {
        @content
    }
}

@mixin forMobile {
    @media screen and (max-width: map-get($queries, mobile)) {
        @content
    }
}