@mixin home {
    display: flex;
    flex-direction: column;
    align-items: center;
     &_title {
         font-size: 4em;
         text-align: left;
         margin : 70px 0 50px 0;
     }
     &_separator {
         width: 800px;
         border-bottom: 1px solid rgba(128, 128, 128, 0.247);
         margin-bottom: 50px;
     }
     label {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         height: 70px;
     }
     &_form {
         display: flex;
         padding: 20px;
         border: 1px solid rgba(0, 0, 0, 0.281);
         border-radius: 10px;
         &_inputTxt {
             height: 30px;
             padding-left: 20px;
             border-radius: 30px 0 0 30px;
             outline: none;
             border: 1px solid black;
         }
         &_btn {
            height:30px;
            margin-top: 40px;
            padding-right: 10px;
            border-radius: 0 30px 30px 0;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            border-left: 1px solid salmon;
            cursor: pointer;
            background: map-get($map: $colors, $key: primary );
         }
     }
}

@mixin social {
    height: 25px;
    fill: #f1f1f1;
    margin-top: -3px;
    cursor: pointer;
}