.home {
   display: flex;
   flex-direction: column;
   align-items: center;
   &_linkContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      &_link {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100px;width: 150px;
         background: map-get($colors, primary);
         border: map-get($map: $colors, $key: secondary) 5px solid;
         border-radius: 15px;
         margin: 20px;
      }
   }
   label {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 70px;
  }
  &_search {
      display: flex;
      padding: 20px;
      border: 1px solid rgba(0, 0, 0, 0.281);
      border-radius: 10px;
      margin: 30px 0 10px 0;
      &_label_input {
          height: 30px;
          padding-left: 20px;
          border-radius: 30px 0 0 30px;
          outline: none;
          border: 1px solid black;
      }
      &_submit {
         height:30px;
         margin-top: 40px;
         padding-right: 10px;
         border-radius: 0 30px 30px 0;
         border-top: 1px solid black;
         border-right: 1px solid black;
         border-bottom: 1px solid black;
         border-left: 1px solid salmon;
         cursor: pointer;
         background: map-get($map: $colors, $key: primary );
         transition: all 150ms ease-in-out;
         &:hover {
             background: map-get($map: $colors, $key:secondary);
             color: #f1f1f1;
             transition: all 150ms ease-in-out;
         }
      }
  }
  &_separator {
   width: 800px;
   border-bottom: 1px solid rgba(128, 128, 128, 0.247);
   margin : 30px 0 20px 0;
  }
  @include forTablet {
     ul {
        width: 100%;
        a {
           display: flex;
           justify-content: center;
           width: 100%;
        }
     }
     &_search {
        justify-content: center;
     }
  }
  @include forMobile {
     &_linkContainer {
        flex-direction: column;
        &_link {
           width: 300px;
        }
     }
     &_search {
        width: 90%;
     }
  }
}