.tvList {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_options {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        width: 500px;
    }
    &_pagesBtn {
        &_btn{
            &--active {
                color: red;
            }
        }
    }
}