.active  {
    
        color: #235789;
        background: #C1292E;
        
    }
    
.mainNavBar {
    display: flex;
    height: 40px;
    &_linkCont {
        margin-right: 10px;
        &_link {
            display: inline-block;
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            height: 100%;
        }
    }
}

.movieNavBar, .tvNavBar {
    display: flex;
    &_linkCont {
        margin-right: 15px;
    }
}

.littleNavBar {
    position: fixed;
    display: flex;
    align-items: center;
    top: 40px;
    left: 0;right: 0;
    height: 30px;
    border-bottom: 1px solid black;
    background: #C1292E;
    padding-left: 15px;
    color: #f3f3f3;
}


