.active  {
        color: map-get($map: $colors, $key: primary);
        font-weight: 600;
        background: map-get($map: $colors, $key: secondary ) ;
    }
    
.mainNavBar {
    display: flex;
    height: 40px;
    &_linkCont {
        margin-right: 10px;
        &_link {
            display: inline-block;
            user-select: none;
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            height: 100%;
            transition: color 200ms ease-in-out;
            &:hover {
                color: #f3f3f3;
                transition: color 200ms ease-in-out;
            }
        }
    }
    @include forMobile {
        display: none;
        position: fixed;
        top: 0;left: 0;
        flex-direction: column;
        height: 305px;
        width: 200px;
        z-index: 10;
        background: map-get($map: $colors, $key: primary);
        border-right: 5px double black;
        border-bottom: 5px double black;
        &_linkCont {
            border-bottom: 1px solid black;
            margin-right: initial;
            height: 100px;
            &:last-child {
                border-bottom: 1px solid transparent;
            }
            &_link { 
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100px;
            }
        }
        &--active {
            display: block;
        }
    }
}

.hambMenu {
    position: absolute;
    display: none;
    top: 5px;left: 5px;
    height: 30px;
    @include forMobile {
        display: block;
    }
}

.movieNavBar, .tvNavBar {
    z-index: 1;
    display: flex;
    &_linkCont {
        user-select: none;
        margin-right: 15px;
        transition: opacity 150ms ease-in;
        &:hover {
            opacity: 0.7;
            transition: opacity 150ms ease-in;
        }
    }
}

.littleNavBar {
    position: fixed;
    display: flex;
    align-items: center;
    top: 40px;
    left: 0;right: 0;
    height: 30px;
    border-bottom: 1px solid black;
    background: map-get($map: $colors, $key: secondary);
    padding-left: 15px;
    color: #f3f3f3;
    @include forMobile {
        height: 60px;
        font-size: 0.8em;
    }
}


