.toTop {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 70px;
    right: 70px;
    transform: rotate(180deg);
    height: 40px;width: 40px;
    border-radius: 8px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.288);
    background: rgb(240, 238, 238);
    cursor: pointer;
    transition: all 150ms ease-in-out;
    &:hover {
        background: rgb(206, 205, 205);
        transition: all 150ms ease-in-out;
    }
    @include forTablet {
        display: none !important;
    }
}