/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}

.movieCard {
  display: flex;
  width: 800px;
  height: 300px;
  margin-top: 20px;
  box-sizing: content-box;
  border-radius: 3px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5);
  transition: transform 300ms ease-in-out;
}
.movieCard_poster {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  min-width: 200px;
  max-width: 200px;
}
.movieCard_poster_noImg p {
  display: flex;
  justify-content: center;
  width: 200px;
  height: auto;
  color: #f3f3f3;
}
.movieCard_infos {
  padding: 15px;
  width: 100%;
}
.movieCard_infos h2 {
  text-align: center;
  margin-bottom: 10px;
}
.movieCard_infos h3 {
  font-size: 0.7em;
  margin-bottom: 15px;
}
.movieCard_infos p {
  height: 80%;
  line-height: 1.4;
  text-indent: 30px;
  overflow: scroll;
}
.movieCard:hover {
  transform: scale(1.03);
  transition: transform 300ms ease-in-out;
}
@media screen and (max-width: 1180px) {
  .movieCard:hover {
    transform: scale(1);
  }
}
@media screen and (max-width: 840px) {
  .movieCard {
    width: 90%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .movieCard_poster {
    height: 300px;
    max-width: 200px;
    min-width: 200px;
    background: transparent;
    margin-top: 10px;
  }
  .movieCard_poster_noImg p {
    color: #000;
  }
  .movieCard_poster img {
    object-fit: cover;
    height: 300px;
    width: 200px;
  }
  .movieCard_infos p {
    overflow: hidden;
    height: auto;
    max-height: 312px;
  }
}

.tvCard {
  display: flex;
  width: 800px;
  height: 300px;
  margin-top: 20px;
  box-sizing: content-box;
  border-radius: 3px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5);
  transition: transform 300ms ease-in-out;
}
.tvCard_poster {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  min-width: 200px;
  max-width: 200px;
}
.tvCard_poster_noImg p {
  display: flex;
  justify-content: center;
  width: 200px;
  height: auto;
  color: #f3f3f3;
}
.tvCard_infos {
  padding: 15px;
  width: 100%;
}
.tvCard_infos h2 {
  text-align: center;
  margin-bottom: 30px;
}
.tvCard_infos p {
  height: 80%;
  line-height: 1.4;
  text-indent: 30px;
  overflow: scroll;
}
.tvCard:hover {
  transform: scale(1.03);
  transition: transform 300ms ease-in-out;
}
@media screen and (max-width: 1180px) {
  .tvCard:hover {
    transform: scale(1);
  }
}
@media screen and (max-width: 840px) {
  .tvCard {
    width: 90%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .tvCard_poster {
    height: 300px;
    max-width: 200px;
    min-width: 200px;
    background: transparent;
    margin-top: 10px;
  }
  .tvCard_poster_noImg p {
    color: #000;
  }
  .tvCard_poster img {
    object-fit: cover;
    height: 300px;
    width: 200px;
  }
  .tvCard_infos p {
    overflow: hidden;
    max-height: 312px;
    height: auto;
  }
}

.active {
  color: #D8464B;
  font-weight: 600;
  background: #003166;
}

.mainNavBar {
  display: flex;
  height: 40px;
}
.mainNavBar_linkCont {
  margin-right: 10px;
}
.mainNavBar_linkCont_link {
  display: inline-block;
  user-select: none;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  transition: color 200ms ease-in-out;
}
.mainNavBar_linkCont_link:hover {
  color: #f3f3f3;
  transition: color 200ms ease-in-out;
}
@media screen and (max-width: 840px) {
  .mainNavBar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    height: 305px;
    width: 200px;
    z-index: 10;
    background: #D8464B;
    border-right: 5px double black;
    border-bottom: 5px double black;
  }
  .mainNavBar_linkCont {
    border-bottom: 1px solid black;
    margin-right: initial;
    height: 100px;
  }
  .mainNavBar_linkCont:last-child {
    border-bottom: 1px solid transparent;
  }
  .mainNavBar_linkCont_link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
  .mainNavBar--active {
    display: block;
  }
}

.hambMenu {
  position: absolute;
  display: none;
  top: 5px;
  left: 5px;
  height: 30px;
}
@media screen and (max-width: 840px) {
  .hambMenu {
    display: block;
  }
}

.movieNavBar, .tvNavBar {
  z-index: 1;
  display: flex;
}
.movieNavBar_linkCont, .tvNavBar_linkCont {
  user-select: none;
  margin-right: 15px;
  transition: opacity 150ms ease-in;
}
.movieNavBar_linkCont:hover, .tvNavBar_linkCont:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in;
}

.littleNavBar {
  position: fixed;
  display: flex;
  align-items: center;
  top: 40px;
  left: 0;
  right: 0;
  height: 30px;
  border-bottom: 1px solid black;
  background: #003166;
  padding-left: 15px;
  color: #f3f3f3;
}
@media screen and (max-width: 840px) {
  .littleNavBar {
    height: 60px;
    font-size: 0.8em;
  }
}

.tvSeasonCard {
  margin-bottom: 30px;
  width: 1100px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.103);
}
.tvSeasonCard_title {
  display: flex;
  align-items: center;
  border-radius: 7px 7px 0 0;
  height: 30px;
  border: 1px solid #3337;
  font-weight: 600;
  background: #D8464B;
  height: 55px;
  font-size: 1.1em;
  padding: 15px 40px;
}
.tvSeasonCard_main {
  box-sizing: content-box;
  display: flex;
  height: 289px;
  border-bottom: 1px solid #3337;
  border-right: 1px solid #3337;
  border-left: 1px solid #3337;
}
.tvSeasonCard_main img {
  object-fit: cover;
}
.tvSeasonCard_main_cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.tvSeasonCard_main_cont_infos {
  padding: 20px;
  overflow: scroll;
}
.tvSeasonCard_main_cont_episodeShow {
  display: flex;
  justify-content: center;
  height: 20px;
  width: 100%;
  background: #003166;
  color: #f3f3f3;
  border-top: 1px solid #3337;
  cursor: pointer;
  user-select: none;
  transition: color 200ms ease-in;
}
.tvSeasonCard_main_cont_episodeShow:hover {
  color: #D8464B;
  transition: all 200ms ease-in;
}
.tvSeasonCard_episodes--hidden {
  display: none;
}
@media screen and (max-width: 1180px) {
  .tvSeasonCard {
    width: 800px;
  }
}
@media screen and (max-width: 840px) {
  .tvSeasonCard {
    width: 90%;
    margin-bottom: 70px;
  }
  .tvSeasonCard img {
    height: 100%;
    width: 200px;
  }
  .tvSeasonCard_main {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .tvSeasonCard_main_cont_infos {
    display: none;
  }
  .tvSeasonCard_main_cont_episodeShow {
    height: 40px;
    align-items: center;
  }
  .tvSeasonCard ul {
    margin-top: 40px;
  }
}

.seasonList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalAbout_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.774);
}
.modalAbout_cont {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 500px;
  height: auto;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  border-radius: 10px;
}
.modalAbout_cont_modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
}
.modalAbout_cont_modal h1 {
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
}
.modalAbout_cont_modal a {
  width: 100%;
  text-align: left;
  margin-bottom: 7px;
  transition: all 200ms ease-in-out;
}
.modalAbout_cont_modal a:hover {
  opacity: 0.7;
  transition: all 200ms ease-in-out;
}
.modalAbout_cont_modal_btn {
  margin-top: 15px;
  width: 60px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid rgba(0, 0, 0, 0.432);
  background: white;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.modalAbout_cont_modal_btn:hover {
  border-color: #333;
  transition: all 200ms ease-in-out;
}

.episodesCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: content-box;
  height: 30px;
  border-bottom: 1px solid #3333;
  border-left: 1px solid #3333;
  border-right: 1px solid #3333;
}
.episodesCont_cont {
  display: flex;
}
.episodesCont_cont_number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 50px;
  border-right: 1px solid #3333;
  background: #D8464B;
  margin-right: 20px;
}
.episodesCont_cont_title {
  display: flex;
  align-items: center;
  width: 300px;
  overflow: hidden;
}
.episodesCont_vote {
  width: 100px;
  font-size: 1.1em;
  font-weight: 600;
  text-align: right;
  margin-right: 10px;
}
@media screen and (max-width: 840px) {
  .episodesCont {
    height: 70px;
  }
  .episodesCont_cont {
    width: 50%;
    padding-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
  }
  .episodesCont_cont_number {
    height: 70px;
    max-width: 50px;
    min-width: 50px;
  }
  .episodesCont_cont_title {
    width: 400px;
    overflow: initial;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.modalEpisode_toggleBtn {
  background: initial;
  border: 4px solid rgba(128, 128, 128, 0.205);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.modalEpisode_toggleBtn:hover {
  border-color: #D8464B;
  transition: all 200ms ease-in-out;
}
.modalEpisode_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.767);
}
.modalEpisode_overlay--hidden {
  display: none;
}
.modalEpisode_cont {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 540px;
  height: auto;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  border-radius: 10px;
}
.modalEpisode_cont_modal {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}
.modalEpisode_cont_modal img {
  border-radius: 8px 8px 0 0;
}
.modalEpisode_cont_modal h1 {
  margin: 15px 0 20px 0;
}
.modalEpisode_cont_modal_closeBtn {
  position: absolute;
  border: 1px solid #333;
  top: 25px;
  right: 25px;
  border-radius: 50%;
  cursor: pointer;
}
.modalEpisode_cont_modal_infos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
@media screen and (max-width: 840px) {
  .modalEpisode_toggleBtn {
    height: 60px;
    max-width: 100px;
    min-width: 70px;
  }
  .modalEpisode_toggleBtn:hover {
    border-color: rgba(128, 128, 128, 0.205);
  }
  .modalEpisode_cont {
    width: 90%;
    top: 50%;
  }
  .modalEpisode_cont_modal {
    padding: 20px;
  }
  .modalEpisode_cont_modal img {
    width: 100%;
  }
  .modalEpisode_cont_modal_closeBtn {
    height: 40px;
    width: 40px;
    top: 30px;
    right: 30px;
    border-radius: 10px;
  }
}

.toTop {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 70px;
  right: 70px;
  transform: rotate(180deg);
  height: 40px;
  width: 40px;
  border-radius: 8px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.288);
  background: #f0eeee;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.toTop:hover {
  background: #cecdcd;
  transition: all 150ms ease-in-out;
}
@media screen and (max-width: 1180px) {
  .toTop {
    display: none !important;
  }
}

.personCard {
  display: flex;
  width: 800px;
  height: 300px;
  margin-top: 20px;
  box-sizing: content-box;
  border-radius: 3px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5);
  transition: transform 300ms ease-in-out;
}
.personCard_poster {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  min-width: 200px;
  max-width: 200px;
}
.personCard_poster_noImg p {
  display: flex;
  justify-content: center;
  width: 200px;
  height: auto;
  color: #f3f3f3;
}
.personCard_infos {
  padding: 15px;
  width: 100%;
}
.personCard_infos h2 {
  text-align: center;
  margin-bottom: 10px;
}
.personCard_infos h3 {
  font-size: 0.7em;
  margin-bottom: 15px;
}
.personCard_infos p {
  height: 80%;
  line-height: 1.4;
  text-indent: 30px;
  overflow: scroll;
}
.personCard:hover {
  transform: scale(1.03);
  transition: transform 300ms ease-in-out;
}
@media screen and (max-width: 1180px) {
  .personCard:hover {
    transform: scale(1);
  }
}
@media screen and (max-width: 840px) {
  .personCard {
    width: 90%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .personCard_poster {
    height: 300px;
    max-width: 200px;
    min-width: 200px;
    background: transparent;
    margin-top: 10px;
  }
  .personCard_poster_noImg p {
    color: #000;
  }
  .personCard_poster img {
    object-fit: cover;
    height: 300px;
    width: 200px;
  }
  .personCard_infos p {
    overflow: hidden;
    height: auto;
    max-height: 312px;
  }
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background: #D8464B;
  height: 40px;
  text-align: center;
  padding: 0 10px;
}
@media screen and (max-width: 840px) {
  header {
    z-index: 10;
    padding-left: 0;
  }
}

.headerTitle {
  z-index: -1;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  font-size: 1.4em;
}

.headerOption {
  display: flex;
  margin: 10px 35px 0 0;
}
.headerOption_darkmod {
  display: flex;
}
.headerOption_svgCont {
  z-index: 10;
  position: fixed;
  top: 6px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}
.headerOption_svgCont_svg {
  height: 15px;
  margin-bottom: 2px;
}
.headerOption_svgCont:hover {
  opacity: 0.5;
  transition: all 200ms ease-in-out;
}
@media screen and (max-width: 840px) {
  .headerOption {
    position: absolute;
    top: 0px;
    right: 5px;
  }
}

main {
  margin-top: 40px;
  min-height: 78vh;
  overflow: hidden;
}

footer {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  background: #003166;
  color: #f1f1f1;
  height: 150px;
  width: 100%;
  margin-top: 40px;
  padding: 40px;
}

.footer-homeLink {
  transition: opacity 300ms ease-in-out;
  cursor: pointer;
}
.footer-homeLink:hover {
  opacity: 0.7;
  transition: opacity 200ms ease-in-out;
}

.footerInfos {
  display: flex;
}
.footerInfos_toContact {
  transition: opacity 300ms ease-in-out;
}
.footerInfos_toContact:hover {
  opacity: 0.7;
  transition: opacity 200ms ease-in-out;
}
.footerInfos_linkedin {
  height: 25px;
  fill: #f1f1f1;
  margin-top: -3px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  margin-left: 15px;
}
.footerInfos_linkedin:hover {
  opacity: 0.7;
  transition: all 200ms ease-in-out;
}
.footerInfos_github {
  height: 25px;
  fill: #f1f1f1;
  margin-top: -3px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  margin-left: 10px;
}
.footerInfos_github:hover {
  opacity: 0.7;
  transition: all 200ms ease-in-out;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home_linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_linkContainer_link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 150px;
  background: #D8464B;
  border: #003166 5px solid;
  border-radius: 15px;
  margin: 20px;
}
.home label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
}
.home_search {
  display: flex;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.281);
  border-radius: 10px;
  margin: 30px 0 10px 0;
}
.home_search_label_input {
  height: 30px;
  padding-left: 20px;
  border-radius: 30px 0 0 30px;
  outline: none;
  border: 1px solid black;
}
.home_search_submit {
  height: 30px;
  margin-top: 40px;
  padding-right: 10px;
  border-radius: 0 30px 30px 0;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid salmon;
  cursor: pointer;
  background: #D8464B;
  transition: all 150ms ease-in-out;
}
.home_search_submit:hover {
  background: #003166;
  color: #f1f1f1;
  transition: all 150ms ease-in-out;
}
.home_separator {
  width: 800px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.247);
  margin: 30px 0 20px 0;
}

.movieList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movieList select {
  background: #f3f3f3;
  border: rgba(0, 0, 0, 0.342) 1px solid;
  height: 30px;
  padding: 0 5px;
}
.movieList_options {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 500px;
}
.movieList_pagesBtn {
  margin-top: 30px;
}
.movieList_pagesBtn_btn {
  height: 40px;
  width: 40px;
  border: none;
  background: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  cursor: pointer;
  transition: opacity 250ms ease-in-out;
}
.movieList_pagesBtn_btn--active {
  color: #D8464B;
  font-weight: 700;
  font-size: 1.1em;
  padding-bottom: 4px;
}
.movieList_pagesBtn_btn:hover {
  opacity: 0.7;
  transition: opacity 250ms ease-in-out;
}
@media screen and (max-width: 840px) {
  .movieList a {
    display: flex;
    justify-content: center;
  }
  .movieList select {
    height: 40px;
  }
  .movieList_options {
    width: 90%;
    margin-top: 80px;
  }
}

.movieHome {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movieHome_title {
  font-size: 4em;
  text-align: left;
  margin: 70px 0 50px 0;
}
.movieHome_separator {
  width: 800px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.247);
  margin-bottom: 50px;
}
.movieHome label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
}
.movieHome_form {
  display: flex;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.281);
  border-radius: 10px;
}
.movieHome_form_inputTxt {
  height: 30px;
  padding-left: 20px;
  border-radius: 30px 0 0 30px;
  outline: none;
  border: 1px solid black;
}
.movieHome_form_btn {
  height: 30px;
  margin-top: 40px;
  padding-right: 10px;
  border-radius: 0 30px 30px 0;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid salmon;
  cursor: pointer;
  background: #D8464B;
  transition: all 150ms ease-in-out;
}
.movieHome_form_btn:hover {
  background: #003166;
  color: #f1f1f1;
  transition: all 150ms ease-in-out;
}
@media screen and (max-width: 840px) {
  .movieHome a {
    display: flex;
    justify-content: center;
  }
}

.movieBackdrop {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 600px;
  width: 100%;
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
}
.movieBackdrop_container {
  display: flex;
  color: white;
  margin-bottom: -150px;
}
.movieBackdrop_container_infos {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 800px;
  background: rgba(0, 0, 0, 0.616);
}
.movieBackdrop_container_infos_top h2 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 8px;
}
.movieBackdrop_container_infos_bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.movieBackdrop_container_infos_bottom_left {
  display: flex;
  align-items: flex-end;
}
.movieBackdrop_container_infos_bottom_left_time {
  margin-right: 25px;
}
.movieBackdrop_container_infos_bottom_note {
  font-size: 3em;
}
.movieBackdrop_container_poster {
  height: 450px;
  width: 300px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.267);
}
.movieBackdrop_container_poster img {
  max-height: 450px;
  user-select: none;
}
@media screen and (max-width: 1180px) {
  .movieBackdrop {
    height: 400px;
  }
  .movieBackdrop_container {
    margin-bottom: -50px;
  }
  .movieBackdrop_container_infos {
    width: 600px;
  }
  .movieBackdrop_container_infos_top h2 {
    font-size: 1.4em;
  }
  .movieBackdrop_container_poster {
    height: 300px;
    width: 200px;
  }
  .movieBackdrop_container_poster img {
    max-height: 300px;
  }
}
@media screen and (max-width: 840px) {
  .movieBackdrop {
    background-size: auto 100%;
    height: auto;
  }
  .movieBackdrop_container {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 0;
    margin-top: 50px;
    width: 100%;
  }
  .movieBackdrop_container_infos {
    width: 90%;
  }
  .movieBackdrop_container_poster {
    display: flex;
    justify-content: center;
    box-shadow: none;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .movieBackdrop_container_poster img {
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.267);
  }
}

.movieInfosContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.movieInfosContainer_release {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 120px;
  min-height: 100px;
  border-radius: 5px;
  margin-top: 190px;
  background: #EBEBEB;
  margin-bottom: 40px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.163);
}
.movieInfosContainer_release_collection {
  margin-top: 15px;
}
.movieInfosContainer_release_collection_link {
  margin-top: 3px;
  color: #003166;
  transition: opacity 150ms ease-in-out;
}
.movieInfosContainer_release_collection_link:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
.movieInfosContainer_overview {
  width: 760px;
  margin: 40px 0 40px 40px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  border-radius: 5px;
  background: #EBEBEB;
  overflow: hidden;
  height: auto;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.163);
}
.movieInfosContainer_overview_header {
  padding: 15px 40px;
  background: #D8464B;
}
.movieInfosContainer_overview_header_title {
  font-size: 1.1em;
  font-weight: 600;
}
.movieInfosContainer_overview_txt {
  padding: 20px 40px;
  text-indent: 30px;
}
@media screen and (max-width: 1180px) {
  .movieInfosContainer_release {
    width: 200px;
    padding: 0 25px;
    text-align: center;
    line-height: 1.5;
    margin-top: 70px;
    height: auto;
  }
  .movieInfosContainer_overview {
    width: 580px;
    margin: 20px 0 40px 20px;
  }
}
@media screen and (max-width: 840px) {
  .movieInfosContainer {
    flex-direction: column;
    align-items: center;
  }
  .movieInfosContainer_release {
    width: 50%;
    margin: 35px 0 25px;
    padding: 25px 25px;
  }
  .movieInfosContainer_overview {
    width: 90%;
    margin: initial;
  }
}

.castSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.castSection_title {
  z-index: 1;
  font-weight: 600;
  margin-bottom: -30px;
  width: 1100px;
  margin-left: 80px;
}
.castSection_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  background: #EBEBEB;
  padding: 50px 20px 10px;
  border-radius: 7px;
}
.castSection_container_casting {
  overflow: hidden;
  width: 200px;
  border: rgba(51, 51, 51, 0.247) 1px solid;
  margin: 0 20px 40px;
  border-radius: 3px;
  transition: transform 250ms ease-in-out;
}
.castSection_container_casting_img {
  display: flex;
  text-align: center;
  align-items: center;
  max-width: 200px;
  min-width: 200px;
  height: 300px;
  background: #333;
  color: #f3f3f3;
}
.castSection_container_casting_img img {
  width: 200px;
}
.castSection_container_casting_infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 90px;
  padding: 5px 10px 10px;
}
.castSection_container_casting_infos h3 {
  font-weight: 600;
}
.castSection_container_casting:hover {
  transform: scale(1.07);
  transition: transform 250ms ease-in-out;
}
.castSection_container_btnCont {
  display: flex;
  justify-content: end;
  width: 1100px;
  margin-top: -30px;
  padding: 0 10px 10px 0;
}
.castSection_container_btnCont_btn {
  border: none;
  background: initial;
  cursor: pointer;
}
.castSection_container_btnCont_btn:hover {
  opacity: 0.7;
}

.similarSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.similarSection_title {
  z-index: 1;
  font-weight: 600;
  margin-bottom: -30px;
  width: 1100px;
  margin-left: 80px;
  margin-bottom: 20px;
}

.tvBackdrop {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 600px;
  width: 100%;
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
}
.tvBackdrop_container {
  display: flex;
  color: white;
  margin-bottom: -150px;
}
.tvBackdrop_container_infos {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 800px;
  background: rgba(0, 0, 0, 0.616);
}
.tvBackdrop_container_infos_top h1 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 8px;
}
.tvBackdrop_container_infos_bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.tvBackdrop_container_infos_bottom_left {
  display: flex;
  align-items: flex-end;
}
.tvBackdrop_container_infos_bottom_left_origin {
  margin-right: 5px;
}
.tvBackdrop_container_infos_bottom_note {
  font-size: 3em;
}
.tvBackdrop_container_poster {
  height: 450px;
  width: 300px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.267);
}
.tvBackdrop_container_poster img {
  max-height: 450px;
  user-select: none;
}
@media screen and (max-width: 1180px) {
  .tvBackdrop {
    height: 400px;
  }
  .tvBackdrop_container {
    margin-bottom: -50px;
  }
  .tvBackdrop_container_infos {
    width: 600px;
  }
  .tvBackdrop_container_infos_top h2 {
    font-size: 1.4em;
  }
  .tvBackdrop_container_poster {
    height: 300px;
    width: 200px;
  }
  .tvBackdrop_container_poster img {
    max-height: 300px;
  }
}
@media screen and (max-width: 840px) {
  .tvBackdrop {
    background-size: auto 100%;
    height: auto;
  }
  .tvBackdrop_container {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 0;
    margin-top: 50px;
    width: 100%;
  }
  .tvBackdrop_container_infos {
    width: 90%;
  }
  .tvBackdrop_container_poster {
    display: flex;
    justify-content: center;
    box-shadow: none;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .tvBackdrop_container_poster img {
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.267);
  }
}

.tvInfosContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.tvInfosContainer_release {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  border-radius: 5px;
  margin-top: 190px;
  background: #EBEBEB;
  margin-bottom: 40px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.163);
}
.tvInfosContainer_overview {
  width: 760px;
  margin: 40px 0 40px 40px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  border-radius: 5px;
  background: #EBEBEB;
  overflow: hidden;
  height: auto;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.164);
}
.tvInfosContainer_overview_header {
  padding: 15px 40px;
  background: #D8464B;
}
.tvInfosContainer_overview_header_title {
  font-size: 1.1em;
  font-weight: 600;
}
.tvInfosContainer_overview_txt {
  padding: 20px 40px;
  text-indent: 30px;
}
@media screen and (max-width: 1180px) {
  .tvInfosContainer_release {
    width: 200px;
    padding: 0 25px;
    text-align: center;
    line-height: 1.5;
    margin-top: 70px;
    height: auto;
  }
  .tvInfosContainer_overview {
    width: 580px;
    margin: 20px 0 40px 20px;
  }
}
@media screen and (max-width: 840px) {
  .tvInfosContainer {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  .tvInfosContainer_release {
    width: 50%;
    margin: 35px 0 25px;
    padding: 25px 25px;
  }
  .tvInfosContainer_overview {
    width: 90%;
    margin: initial;
  }
}

.tvHome {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tvHome_title {
  font-size: 4em;
  text-align: left;
  margin: 70px 0 50px 0;
}
.tvHome_separator {
  width: 800px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.247);
  margin-bottom: 50px;
}
.tvHome label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
}
.tvHome_form {
  display: flex;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.281);
  border-radius: 10px;
}
.tvHome_form_inputTxt {
  height: 30px;
  padding-left: 20px;
  border-radius: 30px 0 0 30px;
  outline: none;
  border: 1px solid black;
}
.tvHome_form_btn {
  height: 30px;
  margin-top: 40px;
  padding-right: 10px;
  border-radius: 0 30px 30px 0;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid salmon;
  cursor: pointer;
  background: #D8464B;
  transition: all 150ms ease-in-out;
}
.tvHome_form_btn:hover {
  background: #003166;
  color: #f1f1f1;
  transition: all 150ms ease-in-out;
}
@media screen and (max-width: 840px) {
  .tvHome a {
    display: flex;
    justify-content: center;
  }
}

.tvList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tvList select {
  background: #f3f3f3;
  border: rgba(0, 0, 0, 0.342) 1px solid;
  height: 30px;
  padding: 0 5px;
}
.tvList_options {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 500px;
}
.tvList_pagesBtn {
  margin-top: 30px;
}
.tvList_pagesBtn_btn {
  height: 40px;
  width: 40px;
  border: none;
  background: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  cursor: pointer;
  transition: opacity 250ms ease-in-out;
}
.tvList_pagesBtn_btn--active {
  color: #D8464B;
  font-weight: 700;
  font-size: 1.1em;
  padding-bottom: 4px;
}
.tvList_pagesBtn_btn:hover {
  opacity: 0.7;
  transition: opacity 250ms ease-in-out;
}
@media screen and (max-width: 840px) {
  .tvList a {
    display: flex;
    justify-content: center;
  }
  .tvList select {
    height: 40px;
  }
  .tvList_options {
    width: 90%;
    margin-top: 80px;
  }
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.person_top {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.person_top_profile {
  height: 300px;
  width: 200px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.267);
}
.person_top_profile img {
  max-height: 300px;
  user-select: none;
}
.person_top_infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 900px;
  height: 200px;
  padding: 12px;
  background: rgba(0, 0, 0, 0.699);
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.267);
}
.person_top_infos h2 {
  color: #f3f3f3;
  font-size: 2em;
  font-weight: 700;
}
.person_top_infos_bot {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  color: #f3f3f3;
}
.person_bio {
  width: 1100px;
  padding: 40px;
  background: #EBEBEB;
  line-height: 1.4;
  letter-spacing: 0.8px;
  text-indent: 30px;
  margin-top: 40px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.267);
}

.personList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.personList_title {
  font-size: 3.2em;
  margin: 40px 0 20px 0;
}

.saga_infos {
  overflow: scroll;
}
.saga_parts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}
.saga_parts_tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1100px;
}
.saga_parts_tabs_tab {
  margin: 5px;
  min-width: 100px;
  max-width: 100px;
  height: 150px;
  cursor: pointer;
  background: #333;
  transition: transform 150ms ease-in-out;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.267);
  overflow: hidden;
}
.saga_parts_tabs_tab img {
  height: 150px;
}
.saga_parts_tabs_tab:hover {
  transform: scale(1.05);
  transition: transform 150ms ease-in-out;
}
.saga_parts_tabs_tab--active {
  border: 2px solid red;
}
.saga_parts_infos {
  width: 1100px;
  padding: 40px;
  margin: 60px 0 30px 0;
  background: #EBEBEB;
  border-radius: 5px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.164);
}
.saga_parts_infos_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.saga_parts_infos_top_left h3 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 7px;
}
.saga_parts_infos_top_left_release {
  font-size: 0.8em;
}
.saga_parts_infos_top_vote {
  font-size: 3em;
}
.saga_parts_infos_overview {
  line-height: 1.4;
  letter-spacing: 0.7px;
  text-indent: 40px;
}
.saga_parts_infos_bot {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.saga_parts_infos_bot_movieBtn {
  height: 35px;
  padding: 0 10px;
  border-radius: 35px;
  border: 3px solid #333;
  background: #f3f3f3;
  cursor: pointer;
}
.saga_parts_infos_bot_movieBtn:hover {
  opacity: 0.8;
}

.contactCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  width: 600px;
  border: 1px solid rgba(0, 0, 0, 0.349);
  border-radius: 8px;
  padding: 40px;
}
.contact_title {
  margin: 90px 0 30px 0;
}
.contact_names {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.contact_names_input {
  height: 40px;
  width: 245px;
}
.contact_email {
  height: 40px;
  width: 245px;
}
.contact_separator {
  width: 520px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.212);
  margin: 30px 0;
}
.contact_message {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact_message_topic {
  height: 40px;
  margin-bottom: 20px;
  width: 100%;
}
.contact_message_txt {
  resize: none;
  width: 100%;
}
.contact_message_btn {
  width: 100px;
  height: 40px;
  margin-top: 30px;
  background: white;
  border: 3px solid #003166;
  color: #003166;
  font-size: 0.9em;
  border-radius: 40px;
}
@media screen and (max-width: 840px) {
  .contact {
    width: 90%;
  }
  .contact_names {
    flex-direction: column;
  }
  .contact_names_input {
    width: 100%;
  }
  .contact_names_input:first-child {
    margin-bottom: 30px;
  }
  .contact_email {
    width: 100%;
  }
  .contact_separator {
    width: 100%;
  }
}

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/salle-de-cinema-le-cinema-de-personne-1320.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin-bottom: -50px;
}
.notFound h2 {
  margin-bottom: 20px;
  font-size: 2.4em;
  font-weight: 700;
}
.notFound p {
  font-size: 2em;
}

/*# sourceMappingURL=style.css.map */
