/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}

.movieCard {
  display: flex;
  width: 500px;
  height: 300px;
  border: 1px solid black;
  margin-top: 20px;
}
.movieCard_poster {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
}
.movieCard_infos {
  padding: 15px;
}
.movieCard_infos h2 {
  text-align: center;
  margin-bottom: 10px;
}
.movieCard_infos h3 {
  font-size: 0.7em;
  margin-bottom: 15px;
}
.movieCard_infos p {
  height: 80%;
  overflow: scroll;
}

.tvCard {
  display: flex;
  width: 500px;
  height: 300px;
  border: 1px solid black;
  margin-top: 20px;
}
.tvCard_poster {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
}
.tvCard_infos {
  padding: 15px;
}
.tvCard_infos h2 {
  text-align: center;
  margin-bottom: 10px;
}
.tvCard_infos p {
  height: 80%;
  overflow: scroll;
}

.active {
  color: blue;
  background: salmon;
}

.mainNavBar {
  display: flex;
  height: 40px;
}
.mainNavBar_linkCont_link {
  display: inline-block;
  padding-top: 10px;
  height: 100%;
}

.movieNavBar, .tvNavBar {
  display: flex;
}
.movieNavBar_linkCont, .tvNavBar_linkCont {
  margin-right: 15px;
}

.littleNavBar {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  height: 20px;
  border-bottom: 1px solid black;
  background: salmon;
}

.tvSeasonCard {
  margin-bottom: 30px;
  width: 1100px;
}
.tvSeasonCard_title {
  height: 30px;
  border: 1px solid black;
  font-size: 600;
  padding: 5px 0 0 10px;
}
.tvSeasonCard_main {
  display: flex;
  height: 289px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.tvSeasonCard_main img {
  object-fit: cover;
}
.tvSeasonCard_main_cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.tvSeasonCard_main_cont_infos {
  padding: 20px;
  overflow: scroll;
}
.tvSeasonCard_main_cont_episodeShow {
  display: flex;
  justify-content: center;
  height: 20px;
  width: 100%;
  border-top: 1px solid black;
  cursor: pointer;
  user-select: none;
}
.tvSeasonCard_episodes--hidden {
  display: none;
}

.seasonList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalOverviewOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.774);
}
.modalOverviewOverlay_modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 800px;
  height: auto;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  border-radius: 10px;
}
.modalOverviewOverlay_modal_cont {
  padding: 20px 30px;
}
.modalOverviewOverlay_modal_cont h1 {
  font-size: 1.5em;
  margin-bottom: 15px;
}
.modalOverviewOverlay--hidden {
  display: none;
}

.episodesCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.episodesCont_number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 50px;
  border-right: 1px solid black;
}
.episodesCont_title {
  width: 400px;
}
.episodesCont_vote {
  width: 100px;
  text-align: right;
}

.modalEpisode_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.767);
}
.modalEpisode_overlay--hidden {
  display: none;
}
.modalEpisode_cont {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 540px;
  height: auto;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  border-radius: 10px;
}
.modalEpisode_cont_modal {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  /*   &_overview {} */
}
.modalEpisode_cont_modal img {
  border-radius: 8px 8px 0 0;
}
.modalEpisode_cont_modal h1 {
  margin: 15px 0 20px 0;
}
.modalEpisode_cont_modal_closeBtn {
  position: absolute;
  right: 20px;
}
.modalEpisode_cont_modal_infos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background: #ebebeb;
  height: 40px;
  text-align: center;
  padding: 0 10px;
}

.headerOption {
  display: flex;
}
.headerOption_darkmod {
  display: flex;
}

main {
  margin-top: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: maroon;
  height: 150px;
  width: 100%;
  margin-top: 40px;
}

.home ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movieList_options {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 500px;
}
.movieList_pagesBtn_btn--active {
  color: red;
}

.movieHome_title {
  margin-top: 70px;
}

.movieBackdrop {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 600px;
  width: 100%;
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
}
.movieBackdrop_container {
  display: flex;
  color: white;
  margin-bottom: -150px;
}
.movieBackdrop_container_infos {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 800px;
  background: rgba(0, 0, 0, 0.616);
}
.movieBackdrop_container_infos_top h1 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 8px;
}
.movieBackdrop_container_infos_bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.movieBackdrop_container_infos_bottom_left {
  display: flex;
  align-items: flex-end;
}
.movieBackdrop_container_infos_bottom_left_time {
  margin-right: 25px;
}
.movieBackdrop_container_infos_bottom_note {
  font-size: 3em;
}
.movieBackdrop_container_poster {
  height: 450px;
  width: 300px;
}
.movieBackdrop_container_poster img {
  max-height: 450px;
}

.movieInfosContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.movieInfosContainer_release {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  border-radius: 5px;
  margin-top: 190px;
  background: #d8d5d5;
  margin-bottom: 40px;
}
.movieInfosContainer_overview {
  width: 760px;
  margin: 40px 0 40px 40px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  border-radius: 5px;
  background: #d8d5d5;
  overflow: hidden;
  height: auto;
}
.movieInfosContainer_overview_header {
  padding: 15px 40px;
  background: #ebebeb;
}
.movieInfosContainer_overview_header_title {
  font-size: 1.1em;
  font-weight: 600;
}
.movieInfosContainer_overview_txt {
  padding: 20px 40px;
  text-indent: 30px;
}

.tvBackdrop {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 600px;
  width: 100%;
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
}
.tvBackdrop_container {
  display: flex;
  color: white;
  margin-bottom: -150px;
}
.tvBackdrop_container_infos {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 800px;
  background: rgba(0, 0, 0, 0.616);
}
.tvBackdrop_container_infos_top h1 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 8px;
}
.tvBackdrop_container_infos_bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.tvBackdrop_container_infos_bottom_left {
  display: flex;
  align-items: flex-end;
}
.tvBackdrop_container_infos_bottom_left_origin {
  margin-right: 5px;
}
.tvBackdrop_container_infos_bottom_note {
  font-size: 3em;
}
.tvBackdrop_container_poster {
  height: 450px;
  width: 300px;
}
.tvBackdrop_container_poster img {
  max-height: 450px;
}

.tvInfosContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.tvInfosContainer_release {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  border-radius: 5px;
  margin-top: 190px;
  background: #d8d5d5;
  margin-bottom: 40px;
}
.tvInfosContainer_overview {
  width: 760px;
  margin: 40px 0 40px 40px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  border-radius: 5px;
  background: #d8d5d5;
  overflow: hidden;
  height: auto;
}
.tvInfosContainer_overview_header {
  padding: 15px 40px;
  background: #ebebeb;
}
.tvInfosContainer_overview_header_title {
  font-size: 1.1em;
  font-weight: 600;
}
.tvInfosContainer_overview_txt {
  padding: 20px 40px;
  text-indent: 30px;
}

.tvHome_title {
  margin-top: 70px;
}

.tvList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tvList_options {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 500px;
}
.tvList_pagesBtn_btn--active {
  color: red;
}

/*# sourceMappingURL=style.css.map */
