/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}

.movieCard {
  display: flex;
  width: 500px;
  height: 300px;
  border: 1px solid black;
  margin-top: 20px;
}
.movieCard_poster {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
}
.movieCard_infos {
  padding: 15px;
}
.movieCard_infos h2 {
  text-align: center;
  margin-bottom: 10px;
}
.movieCard_infos h3 {
  font-size: 0.7em;
  margin-bottom: 15px;
}
.movieCard_infos p {
  height: 80%;
  overflow: scroll;
}

.tvCard {
  display: flex;
  width: 500px;
  height: 300px;
  border: 1px solid black;
  margin-top: 20px;
}
.tvCard_poster {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
}
.tvCard_infos {
  padding: 15px;
}
.tvCard_infos h2 {
  text-align: center;
  margin-bottom: 10px;
}
.tvCard_infos p {
  height: 80%;
  overflow: scroll;
}

.active {
  color: blue;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background: #ebebeb;
  height: 40px;
  text-align: center;
  padding: 10px;
}

.headerOption {
  display: flex;
}
.headerOption_darkmod {
  display: flex;
}

main {
  margin-top: 40px;
}

.home ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movieList_options {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 500px;
}
.movieList_pagesBtn_btn--active {
  color: red;
}

.movieBackdrop {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 600px;
  width: 100%;
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
}
.movieBackdrop_container {
  display: flex;
  color: white;
  margin-bottom: -150px;
}
.movieBackdrop_container_infos {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 800px;
  background: rgba(0, 0, 0, 0.616);
}
.movieBackdrop_container_infos_top h1 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 8px;
}
.movieBackdrop_container_infos_bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.movieBackdrop_container_infos_bottom_left {
  display: flex;
  align-items: flex-end;
}
.movieBackdrop_container_infos_bottom_left_time {
  margin-right: 25px;
}
.movieBackdrop_container_infos_bottom_note {
  font-size: 3em;
}
.movieBackdrop_container_poster {
  height: 450px;
  width: 300px;
}
.movieBackdrop_container_poster img {
  max-height: 450px;
}

.movieInfosContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.movieInfosContainer_release {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  border-radius: 5px;
  margin-top: 190px;
  background: #d8d5d5;
  margin-bottom: 40px;
}
.movieInfosContainer_overview {
  width: 760px;
  margin: 40px 0 40px 40px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  border-radius: 5px;
  background: #d8d5d5;
  overflow: hidden;
  height: auto;
}
.movieInfosContainer_overview_header {
  padding: 15px 40px;
  background: #ebebeb;
}
.movieInfosContainer_overview_header_title {
  font-size: 1.1em;
  font-weight: 600;
}
.movieInfosContainer_overview_txt {
  padding: 20px 40px;
  text-indent: 30px;
}

.tvList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tvList_options {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 500px;
}

/*# sourceMappingURL=style.css.map */
