footer {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    background: map-get($map: $colors, $key:secondary ) ;
    color: #f1f1f1;
    height: 150px;width: 100%;
    margin-top: 40px;
    padding: 40px;
}

.footer-homeLink {
    transition: opacity 300ms ease-in-out;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
        transition: opacity 200ms ease-in-out;
    }
}

.footerInfos {
    display: flex;
    &_toContact {
        transition: opacity 300ms ease-in-out;
        &:hover {
            opacity: 0.7;
            transition: opacity 200ms ease-in-out;
        }
    }
    &_linkedin {
        @include social;
        margin-left: 15px;
    }
    &_github {
        @include social;
        margin-left: 10px;
    }
}