header {
    position: fixed;
    top: 0;
    right: 0;left: 0;
    display: flex;
    justify-content: space-between;
    background: map-get($map: $colors, $key: primary);
    height: 40px;
    text-align: center;
    padding: 0 10px
}

.headerTitle {
    z-index: -1;
    position: absolute;
    top: 10px;
    left: 0;right: 0;
    font-size: 1.4em;
}

.headerOption {
    display: flex;
    margin: 10px 35px 0 0;
    &_darkmod {
        display: flex;
    }
    &_svgCont {
        position: fixed;
        top: 6px;right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;height: 25px;
        border: 1px solid black;
        border-radius: 50%;
        cursor: pointer;
        &_svg {
            height: 15px;
            margin-bottom: 2px;
        }
    }
}