header {
    display: flex;
    justify-content: space-between;
    background: salmon;
    border: 1px solid green;
    height: 40px;
    text-align: center;
    padding: 10px;
}

.headerOption {
    display: flex;
    &_darkmod {
        display: flex;
    }
}