header {
    position: fixed;
    top: 0;
    right: 0;left: 0;
    display: flex;
    justify-content: space-between;
    background: map-get($map: $colors, $key: primary );
    height: 40px;
    text-align: center;
    padding: 10px;
}

.headerOption {
    display: flex;
    &_darkmod {
        display: flex;
    }
}